<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Lunches</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col">
					{{{ body }}}
				</div>
			</div>
		</div>
	</body>
</html>

<style>
  body{
      background-color: darkgoldenrod;
  }
  .col{
	  float: none;
	  margin: 0 auto;
  }
</style>